<h2>Desafio final</h2>
<h3>Lista de tarefas</h3>
<input type="text" #tarefaInput (keyup.enter)="addTarefaNaLista(tarefaInput.value); tarefaInput.value = ''" />
<button (click)="addTarefaNaLista(tarefaInput.value); tarefaInput.value = ''">Adicionar</button>

<ul>
  <li *ngFor = "let tarefa of listaTarefas"> {{ tarefa.title }}</li>
</ul>

<hr>
<h3>Templates e Variáveis</h3>

<h4>{{ title }}</h4>

<!-- interpretado como javaScript -->
{{ 2 + 3 }}
<br>

Meu nome é {{ nome }} e e tenho {{ idade }} anos
<br>

<input type="text" value="{{nome}}">

<br>

<p>Total de nomes: {{ nomes.length }}</p>
<p>Nome principal: {{ nomePrincipal }}</p>

<hr>
<h3>Loop</h3>

<ul>
  <li *ngFor="let nome of nomes">
    {{ nome }}
  </li>
</ul>

<ul>
  <li *ngFor="let item of nomeIdade" style="color: brown;">
    Nome; {{ item.nome }} - Idade: {{ item.idade }}
  </li>
</ul>

<hr>
<h3>Criando uma classe</h3>

<ul>
  <li *ngFor="let item of nomeIdadePorClasse">
    Nome; {{ item.nome }} - Idade: {{ item.idade }} anos - {{ item.getTipo() }}
  </li>
</ul>

<hr>
<h3>Condicionais</h3>

<p *ngIf="nomes.length > 2">Tem muitos nomes cadastrados!</p>

<div *ngIf="nomes.length <= 4">
  <input type="text">
  <button>Adicionar</button>
</div>

<div *ngIf="showAviso" style="color: green;">{{ avisoMsg }}</div>

<hr>
<h3>Bind de Propriedades</h3>

<input type="text" value="{{ nomePrincipal }}">
<input type="text" [value]="nomePrincipal"> <!-- aceita expressões JS -->
<input type="text" bind-value="nomePrincipal">
<input type="text" [disabled]="hideInput">
<br>
<img src="{{ imagem }}"><br>
<img [src]="imagem"><br>
<img bind-src="imagem">

<hr>
<h3>Styles e Class</h3>

<div [style]="{width: '100px', height: '100px', fontSize: tamanhoFonte, backgroundColor: '#0000FF'}">
  <!--[style.width.px]="100"-->
  Texto qualquer
</div>

<div [class]="{menu: true, ativo: false}">
  Texto qualquer 2
</div>

<div [class]="{menu: true, ativo: true}">
  Texto qualquer 3
</div>

<div [class.teste]="true">Texto</div>

<hr>
<h3>Eventos de Clique</h3>

<button (click)="trocarCor()">Aperte aqui</button>

<button (click)="trocarCorComParametro('#0000FF')">Aperte aqui para colocar cor azul</button>
<button (click)="trocarCorComParametro('#FF0000')">Aperte aqui para colocar cor vermelha</button>
<p [style.color]="corPrincipal">Texto de exemplo</p>

<ul>
  <li *ngFor="let item of nomeIdadePorClasse" (click)="clicou(item)" [style.color]="corPrincipal">
    Nome; {{ item.nome }} - Idade: {{ item.idade }} anos - {{ item.getTipo() }}
  </li>
</ul>

<button (click)="title='Testando 1,2,3'">Alterar o título</button>

<hr>
<h3>Eventos de Teclado</h3>

Nome: {{ nomePrimeiro }} <br>
<!-- <input type="text" [value]="nomePrimeiro" (input)="nomePrimeiro = $any($event.target).value" /> -->
<!-- <input type="text" [value]="nomePrimeiro" (keyup)="trocarNomePrimeiro($any($event.target).value)" /> -->
<input type="text" [value]="nomePrimeiro" (keyup.enter)="trocarNomePrimeiro($any($event.target).value)" />

<hr>
<h3>Variável Auxiliar</h3>

Nome: {{ nomePrimeiro }} <br>
<input type="text" #nomeInput (keyup)="0" (keyup.enter)="trocarNomePrimeiro(nomeInput.value); nomeInput.value = ''" />
<p>Variável: {{ nomeInput.value }}</p>